{% extends 'base.html.twig' %}

{% block title %}Регистрация соц сети{% endblock %}
{% block body %}
    {% if (error) %}
        <div style="color: red">{{ error }}</div>
    {% endif %}
<div style="width: 400px; height: 400px; margin-left: 35%; margin-top: 50px">
    {{ form(form) }}
</div>
{% endblock %}

