{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div style="width: 400px; height: 400px; margin-left: 35%; margin-top: 50px">
        <h1>Авторизация</h1>
        {% if (error) %}
       <p style="color: red;"> {{ error }} </p>
        {% endif %}

        {% for message in app.flashes('error') %}
                <p style="color: red;">
                {{ message }}
                </p>
        {% endfor %}

        {{ form(form) }}
        <hr>
        {{ include('authorization/uloginAuth.html.twig') }}
        <hr>
        <a href="{{ path('app-sign-up') }}">Регистрация</a>
        <a href="{{ path('homePage') }}">Домашняя страница</a>
    </div>
{% endblock %}

