{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}
{% block body %}
    {% if (user) %}
        <div style="float: right; margin-right: 100px;">
            <a href="{{ path('logout') }}"> Выход </a>
            {{ include('socialNetwork/social.html.twig') }}
            {% for message in app.flashes('error') %}
                <p style="color: red;">
                    {{ message }}
                </p>
            {% endfor %}
        </div>
        <h1> Hello </h1>
    {% else %}
    <a href="{{ path('app-sign-up') }}">Регистрация</a>
    <a href="{{ path('auth') }}">Авторизация</a>
{% endif %}
{% endblock %}


