{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}
{% block body %}

{% if error %}
    <div style="color: red">{{ error }}</div>
{% endif %}
    <div style="width: 400px; height: 400px; margin-left: 35%; margin-top: 50px">
        <h1>Регистрация</h1>
    {{ form(form) }}
        <hr>
        {{ include('sign-up/ulogin.html.twig') }}
        <hr>
        <a href="{{ path('auth') }}">Авторизация</a>
        <a href="{{ path('homePage') }}">Домашняя страница</a>
    </div>

{% endblock %}


